*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.inline-block {
    display:inline-block;
}
.logo  {
    flex: 0 1 7rem;
    height:50px;
    width:50px;
}



/* Back to top button */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color:red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }


a {
    color: white;
    text-decoration: none;
}
nav {
        background:rgba(0, 0, 0, 0.6);
    width:100%;
    padding:1%;
    height:7rem;
    display:flex;
    flex-direction: row;
    color:white;      
}
.nav-list {
    flex-direction: row;
    flex:0 1 50%;
    text-decoration:none;
    color:white;  
}

.lead {
    font-weight: bold;
    text-align:center;
    font-size: 30px;
}

.Define {
    text-align:center;
    font-size:30px;
    font-weight:bold;
}
ul {    
    width:89%;   
    font-size:1.5rem;
    align-items: flex-end;
    display:flex;
    justify-content: space-evenly;
}
ul li {
    list-style: none;
}

#panel, #flip {
    padding: 2px;
    text-align: center;
    color:F5620E;
    font-size: larger;
    font-weight:bold;
    background-color: #fafafad7;
    border: solid 1px #c3c3c3;
  }
  
  #panel {
    padding: 10px;
    display: none;
  }

.container  {
    width:100%;
    display:flex;
    justify-content:center;    
}


.container-pic {    
    top:10px;
    height:300px;
    /* padding:10 10 10 40px;   */
}
.container-pic2 {
    width:40%;
}
.container-text {  
    line-height:1.2em;
    font-size:20px;
    display:inline-block;
    width:50%;
    padding:30px 10px 10px 50px;  
 } 
.row {
    padding:20px;
    margin:10px;
    
}

.imgContainer {
    text-align:left;

}

.textContainer {
    text-align:right;

}

/* .row {
    margin:10px;
    padding:30px; 
} */

.case_content .card-content {
    /* padding:10px 150px; */
    text-align:center;
}
/* .case_content{
    margin:20px;
} */

.card-content {
    padding:15px;
    text-align:center;
}
.card-title {
    margin-top:0px;
    font-weight: 700;
    font-size: 17px;
}
.card-title a {
    color: #000;
    text-decoration: none !important;
}
.card-read-more {
    border-top: 1px solid #D4D4D4;
}
.card-read-more a {
    text-decoration: none !important;
    padding:10px;
    font-weight:600;
    text-transform: uppercase
}
.card {
    /* display: block;  */
    /* margin-bottom: 20px; */
    /* line-height: 1.42857143; */
    margin:auto;
    background-color: #fff;
    
    transition: box-shadow .15s; 
}
.card:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.img-case {
    width: auto;
    height:auto;
    /* * height:450px; */
    /* border-top-left-radius:2px;
    border-top-right-radius:2px; */
    display:block;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top:auto;
    transition: all .15s ease;
}
.container-pic2 {
    height: 90%;
}


.footer {
    background-color:#717172;  
    height: 200px;  
    display:inline-block;
    
    width:100%;
    color:white;
    padding-top:20px;
}
.footerContents {
    margin-top:20px;
    margin-left:50px;
    color:white;
    font-size:20px;
    padding:20px;
}